<div class="well">
	<p></p><h2>Quiz App</h2></p>
 	<p></p><h3>Login</h3></p>
	<p>
		<div "span12 pagination-centered">
		Enter your email address.<br>
		<%== text_field_tag :email, "", size: 40 %>
		</div>
	</p>
	<p>
		Enter your password.<br>
		<%== text_field_tag :password, "", size: 40 %>
	</p>
	<p>
		<%== submit_tag "Log in" %>
	</p>
</div>