<center><h1>QuiZapp</h1></center>
<div class="hero-unit">
	<p></p><h2>Login</h2></p>
 	<%== form_tag "/login" do %>
	<p>
		<div "span12 pagination-centered">
		Enter your email address.<br>
		<%== text_field_tag :email, "", size: 40 %>
		</div>
	</p>
	<p>
		Enter your password.<br>
		<%== password_field_tag :password, "", size: 40 %>
	</p>
	<p>
		<%== submit_tag "Log in", :class => 'btn' %>
	</p>
	<% end %>
	<p>
		<a href="/register">Register Now</a>
	</p>
</div>