<div class="well">
  <H3><%= @quizzes.where(id: params[:quiz_id]).first.name %></H3>
  <table class="table table-striped table-hover table-bordered table-fixed">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Is Correct?</th>
      <th>Correct Answer</th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.where(id: params[:quiz_id]).first.questions.each do |question| %>
    <tr>
      <td><%= question.question_text %></td>
      <td><%= question.correct_answer %></td>
      <% if @quiz_results.where(question_id: question.id).first.is_correct == true %>
        <td>Yes</td>
      <% else %>
        <td>No</td>
      <% end %>
      <% if @quiz_results.where(question_id: question.id).first.is_correct == false %>
        <td><%= question.correct_answer %></td>
      <% else %>
        <td>----------</td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>