<div class="container">
      <br>
      <span class="label"></span>
      <div class="well">
        <h4>What company provides health insurance for ELIC?</h4>
        <a class="btn" href="/clicked">Integra</a>
        <a class="btn" href="/clicked">Humana</a>
        <a class="btn" href="/clicked">Cigna</a>
        <a class="btn" href="/clicked">None of these.</a> 
      </div>
      <div class="row"></div>
      <div class="well">
        <h4>Which of these are provided by ELIC IT to help with accessing blocked websites?</h4>
        <a class="btn" href="/clicked">Tunnel</a>
        <a class="btn" href="/clicked">VPN</a>
        <a class="btn" href="/clicked">Wishful Thinking</a>
        <a class="btn" href="/clicked">A long network cord stretching to the USA.</a> 
      </div>
      <div class="well">
        <h4>What year did ELIC first send teachers to China?</h4>
        <a class="btn" href="/clicked">1942</a>
        <a class="btn" href="/clicked">1991</a>
        <a class="btn" href="/clicked">2012</a>
        <a class="btn" href="/clicked">1972</a> 
      </div>
      <div class="well">
        <h4>Who is the current president of ELIC?</h4>
        <a class="btn" href="/clicked">Bill Gates</a>
        <a class="btn" href="/clicked">Bozo the Clown</a>
        <a class="btn" href="/clicked">Tim Davis</a>
        <a class="btn" href="/clicked">Leonardo Davinci</a> 
      </div>
      <div class="pagination pagination-centered">
        <ul>
          <li>
            <a href="#">Prev</a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
            <li>
            <a href="#">5</a>
          </li>
          <li>
            <a href="#">Next</a>
          </li>
        </ul>
      </div>
    </div>