    <div class="container">
      <br>
      <span class="label"></span>
      <div class="well">
        <h4>Quiz Setup</h4>
        <a class="btn" href="/admin/quiz-builder">Build a Quiz</a>
      </div>
      <div class="well">
        <h4>Question Setup</h4>
        <a class="btn" href="/admin/questions">Set up questions</a>
        <a class="btn" href="/admin/categories">Set up categories</a>
        <a class="btn" href="/admin/types">Set up types</a>
      </div>
      <div class="well">
        <h4>User Setup</h4>
        <a class="btn" href="/admin/add-users">Add Users</a>
        <a class="btn" href="/admin/manage-users">Manage Users</a>
      </div>
    </div>