    <div class="container">
      <br>
      <div class="well span12">
        <h3>Admin</h3>
          <a class="btn span2" href="/admin/quizzes">Quiz Results</a>
          <a class="btn span2" href="/admin/quiz-builder">Quiz Builder</a>
          <a class="btn span2" href="/admin/questions">Questions</a>
          <a class="btn span2" href="/admin/categories">Categories</a>
          <a class="btn span2" href="/admin/users">Users</a>
      </div>