    <div class="container">
      <br>
      <div class="well">
        <h3>Admin</h3>
        <a class="btn" href="/admin/quizzes">Quiz Results</a>
        <a class="btn" href="/admin/quiz-builder">Configure Quizzes</a>
        <a class="btn" href="/admin/questions">Configure Questions</a>
        <a class="btn" href="/admin/categories">Configure Categories</a>
        <a class="btn" href="/admin/users">Manage Users</a>
      </div>