<div class="hero-unit">
	<p></p><h2>Quiz App</h2></p>
 	<p></p><h3>Login</h3></p>
 	<%== form_tag "/admin/login" do %>
	<p>
		<div "span12 pagination-centered">
		Enter your user name.<br>
		<%== text_field_tag :username, "", size: 40 %>
		</div>
	</p>
	<p>
		Enter your password.<br>
		<%== password_field_tag :password %>
	</p>
	<p>
		<%== submit_tag "Log in", :class => 'btn' %>
	</p>
	<% end %>
	<p>
		<a href="/register">Register Now</a>
	</p>
</div>